.auth-container {
  max-width: 30rem;
  min-width: 10rem;
  width: 40vw;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;

  #loginCard {
    @include full-width;
    @include flex-center;
    flex-direction: column;
  }

  #registerCard {
    @include full-width;
    @include flex-center;
    flex-direction: column;
  }

  form {
    @include full-width;
    @include flex-center;
    flex-direction: column;
  }

  h2 {
    text-align: center;
    font-size: 4rem;
    margin: 0 0 20px;
  }

  input {
    @include input;
    padding: 0.75rem;
  }

  button {
    box-sizing: border-box;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: $main-accent-background;
    color: $main-foreground;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 0 20px 0;
    overflow-x: hidden;

    .mini-spinner {
      width: 1.2rem;
      height: 1.2rem;
      border: 3px solid $secondary-background;
      border-top: 3px solid $main-accent-foreground;
      border-radius: 50%;
      animation: spin 1s linear infinite;
      margin-left: 0.5rem;
    }

    .btn-spinner {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:disabled {
      cursor: not-allowed;
      filter: grayscale(1);
      opacity: 0.5;

      span, svg {
        transform: none !important;
        transition: none !important;
      }
    }

    span {
      display: inline-block;
      transition: .4s ease transform;
    }
    svg {
      margin: 0 0 -0.4rem 10px;
      transition: .3s ease transform;
    }

    &:hover {
      svg {
        transform: translateX(50px);
      }
      span {
        transform: translateX(15px);
      }
    }
  }

  .auth-link {
    @include full-width;
    text-align: center;
    a {
      cursor: pointer;
      color: $main-accent-foreground;
    }
  }

}

.success-message {
  text-align: center;
  display: none;
}