$main-background: rgb(23, 23, 23);
$secondary-background: rgb(42, 42, 42);
$tertiary-background: rgb(69, 69, 69);
$main-foreground: rgb(223, 223, 223);
$main-accent-foreground: rgb(68, 158, 72);
$main-accent-background: rgb(23, 53, 24);